<div class="content-container" layout="row" flex layout-wrap>
  <div class="eventCard" ng-repeat="event in events | orderBy: '-attending_count' " flex-gt-sm="100" flex-offset-gt-sm="0" flex-gt-md="80" flex-offset-gt-md="10" flex-gt-lg="50" flex-offset-gt-lg="25">
    <md-card>
      <div class='card-img-box'>
        <img ng-src="{{event.cover.source}}" class="md-card-image" alt="Washed Out">
      </div>
      <md-card-content layout="row">
        <div flex="80">
          <div>
            <h2 class="md-title ellipse ellipsis" ng-mouseover="txtScrlIn($event)" ng-mouseleave="txtScrlOut()">{{event.name}}</h2>
          </div>
          {{event.place.name}}
          <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="enhance()">
            <md-icon md-svg-icon="../images/icons/bheart.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite">
            <md-icon md-svg-icon="../images/icons/bnote.svg"></md-icon>
          </md-button>
        </div>
        <div flex="20" layout="column" layout-align="center center">
          <md-icon md-svg-icon="../images/icons/bevent.svg"></md-icon>
          {{event.start_time | date:'MMM d'}}
          <md-icon md-svg-icon="../images/icons/bperson.svg"></md-icon>
          {{event.attending_count}}
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>